@import "./../utils/colorchange.css";
@import "./../utils/wave.css";

::selection {
  background: #c5fcfc;
  /* color: #ff0000; */
}

.custom-cursor {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='44' height='53' viewport='0 0 100 100' style='fill:black;font-size:26px;'><text y='50%'>👆🏾</text></svg>")
      16 0,
    auto;
}

.overlay{
  display: none;
}

.myname:hover {
  -webkit-animation: colorchange 5s infinite alternate,
    cursorshuffle 2s infinite alternate;
  animation: colorchange 5s infinite alternate,
    cursorshuffle 2s infinite alternate;
}

@keyframes cursorshuffle {
  0% {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='44' height='53' viewport='0 0 100 100' style='fill:black;font-size:26px;'><text y='50%'>🦄</text></svg>")
        16 0,
      auto;
  }

  10% {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='44' height='53' viewport='0 0 100 100' style='fill:black;font-size:26px;'><text y='50%'>🔥</text></svg>")
        16 0,
      auto;
  }

  20% {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='44' height='53' viewport='0 0 100 100' style='fill:black;font-size:26px;'><text y='50%'>🎒</text></svg>")
        16 0,
      auto;
  }

  30% {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='44' height='53' viewport='0 0 100 100' style='fill:black;font-size:26px;'><text y='50%'>👑</text></svg>")
        16 0,
      auto;
  }

  40% {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='44' height='53' viewport='0 0 100 100' style='fill:black;font-size:26px;'><text y='50%'>🐣</text></svg>")
        16 0,
      auto;
  }

  50% {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='44' height='53' viewport='0 0 100 100' style='fill:black;font-size:26px;'><text y='50%'>⭐️</text></svg>")
        16 0,
      auto;
  }

  60% {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='44' height='53' viewport='0 0 100 100' style='fill:black;font-size:26px;'><text y='50%'>🌩</text></svg>")
        16 0,
      auto;
  }

  70% {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='44' height='53' viewport='0 0 100 100' style='fill:black;font-size:26px;'><text y='50%'>🐶</text></svg>")
        16 0,
      auto;
  }
  80% {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='44' height='53' viewport='0 0 100 100' style='fill:black;font-size:26px;'><text y='50%'>🎊</text></svg>")
        16 0,
      auto;
  }

  90% {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='44' height='53' viewport='0 0 100 100' style='fill:black;font-size:26px;'><text y='50%'>🎂</text></svg>")
        16 0,
      auto;
  }

  100% {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='44' height='53' viewport='0 0 100 100' style='fill:black;font-size:26px;'><text y='50%'>🎊</text></svg>")
        16 0,
      auto;
  }
}

@media screen and (max-width: 1200px ) {
  .overlay {
    display: block;
    position: fixed;
    z-index: 1000;
    background-color: white;
    height: 100vh;
    width: 100vw;
    top: 0;
    scroll-behavior: unset;
    overflow: hidden;
    padding-top: 45vh;
    align-items: center;
    text-align: center;
    font-weight: 800;
  }
  
}
